@article_ations_width: 4rem;
@article_author_avatar: 4rem;

#abyss-article {
    width: 100%;
    height: 100%;
    position: relative;

    .article-actions {
        position: fixed;
        top: 10rem;
        left: 12rem;
        display: flex;
        flex-wrap: wrap;
        width: 4.8rem;
        height: auto;
        flex-direction: column;
        padding: .4rem;
        background-color: #fff;
        box-sizing: border-box;

        .article-ations-item {
            display: flex;
            height: auto;
            margin-top: .4rem;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            border-bottom: 1px solid #cdcdcd;

            &:nth-last-child(1) {
                border: none;
            }

            span {
                margin-top: .4rem;
            }

            img {
                display: block;
                margin: 0 auto;
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .container {
        display: flex;
        margin: 0 auto;
        width: 70%;
        padding: .6rem;
        box-sizing: border-box;
        background-color: inherit;

        .container-main {
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 1000px;
            padding: .8rem 1.2rem;
            box-sizing: border-box;

            .title {
                text-align: center;
                font-size: 2rem;
                font-family: "华文楷书";
                word-spacing: 2lvh;
                font-weight: 900;
                margin-bottom: 2rem;
            }

            .page-info {
                width: 100%;
                height: 4rem;
                padding: 1.2rem 1.2rem;
                box-sizing: border-box;
                background-color: #fffffd;

                .passive,
                .positive,
                .collect {
                    vertical-align: middle;
                    width: 4rem;
                    text-align: center;
                    display: inline-block;

                    img {
                        width: 1.2rem;
                        height: auto;
                    }
                }

                .passive {
                    margin-left: 12rem;
                }

                .positive {
                    margin-left: 2rem;
                }

                .collect {
                    margin-left: 2rem;
                }
            }

            .post-timestamp {
                line-height: 2rem;
                text-align: center;
                color: #b8b5b5;

                span {
                    display: block;
                }
            }

            .footer {
                margin-top: 2rem;
                width: 100%;
                height: 8rem;
                display: flex;
                flex-wrap: nowrap;

                .left,
                .right {
                    width: 50%;
                    height: inherit;
                    padding: 2rem 4rem;
                    justify-content: center;
                    box-sizing: border-box;
                    position: relative;
                    cursor: pointer;


                    img {
                        margin: 0 auto;
                        width: 4rem;
                        height: auto;
                    }

                    span {
                        display: inline;
                        width: auto;
                        position: relative;
                        left: 1rem;
                        top: -1rem;
                        font-size: 2rem;
                        font-weight: bolder;
                    }
                }

                .left {
                    border-right: 1px solid #cdcdcd;
                }
            }

            .reply {
                margin-top: 3.33rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                width: inherit;
                height: 12rem;
                background-color: rgb(243, 246, 245);
            }
        }
    }

    .container-sub {
        display: flex;
        flex-flow: column;
        width: 28%;
        height: 100%;
        background-color: inherit;
        margin-left: 1.2rem;


        .article-page-author {
            width: 100%;
            height: 6rem;
            white-space: nowrap;
            vertical-align: top;

            img {
                width: @article_author_avatar;
                height: @article_author_avatar;
            }

            .article-author-info {
                word-spacing: .3rem;
                margin-left: 6rem;
                margin-top: -4rem;
            }
        }
    }
}